{% extends "base.html.twig" %}
{% block title %} {{ parent()}} You're prudent {% endblock %}

{% block content %}
    <div class="container">
        {% for message in app.flashes('error') %}
            <div class="alert alert-danger">
                {{ message }}
            </div>
        {% endfor %}
        <h1 class="h3 mb-3 mt-5 font-weight-normal text-center ">Change password</h1>
            {% form_theme changePasswordForm 'bootstrap_4_layout.html.twig' %}

                {{ form_start(changePasswordForm) }}
                {{ form_row(changePasswordForm.password) }}
                {{ form_row(changePasswordForm.newPassword) }}
{#                {{ form_row(changePasswordForm.repeatNewPassword, {#}
{#                    label: 'Repeat passsword'#}
{#                }) }}#}

                <button type="submit" class="btn btn-primary mb-5 mt-3">Submit</button>
            {{ form_end(changePasswordForm) }}



    </div>
{% endblock %}